@model AFuturaCRMV2.Models.Documents

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentTypeId" class="control-label"></label>
                <select asp-for="DocumentTypeId" class="form-control" asp-items="ViewBag.DocumentTypeId"></select>
                <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUploaded" class="control-label"></label>
                <input asp-for="DateUploaded" class="form-control" />
                <span asp-validation-for="DateUploaded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorEmail" class="control-label"></label>
                <input asp-for="AuthorEmail" class="form-control" />
                <span asp-validation-for="AuthorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control" />
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
