<!DOCTYPE html>
<html lang="en">
<head>
	<title>Nova - Bootstrap 5 Landing Page Template For Mobile Apps</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Bootstrap 5 Mobile App Landing Page Template">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700|Nunito:400,600,700" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="assets/plugins/flickity/flickity.min.css">

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

</head>

<body>
	<!-- DEMO ONLY -->
	<div class="demo-banner py-3 text-white text-center fw-bold theme-bg-secondary text-white">
		Love this CRM? Register right now!<a class="btn font-weight-bold ms-2 theme-btn-on-bg mt-2 mt-md-0" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-external-link-alt me-2"></i>Register <span class="text-uppercase">right now!</span></a>
	</div>
	<header class="header">

		<div class="branding">

			<div class="container position-relative">

				<nav class="navbar navbar-expand-lg">
					<h1 class="site-logo"><a class="navbar-brand" href="/"><img class="logo-icon" src="assets/images/logo-icon.svg" alt="logo"> <span class="logo-text">MILIO <span class="alt rounded">CRM</span></span></a></h1>

					<!-- // Free Version ONLY -->
					<ul class="social-list list-inline mb-0 position-absolute">
						<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
						<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
						<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
					</ul><!--//social-list-->

				</nav>

				<!-- // Free Version ONLY -->
				<ul class="social-list list-inline mb-0 position-absolute d-none">
					<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
					<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
					<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
					<li class="list-inline-item"><a class="text-dark" href="#"><i class="fab fa-youtube fa-fw"></i></a></li>
				</ul><!--//social-list-->
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->


	<section class="hero-section">
		<div class="container">
			<div class="row figure-holder">
				<div class="col-12 col-md-6 pt-3 pt-md-4">
					<h2 class="site-headline font-weight-bold mt-lg-5 pt-lg-5">Streamlined Customer Acquisition.</h2>
					<div class="site-tagline mb-3">Effortlessly attract and onboard new customers with our intuitive CRM platform.</div>
					<div class="cta-btns">
						<div class="mb-4"><a class="btn btn-primary font-weight-bold theme-btn" asp-area="Identity" asp-page="/Account/Register">Try Milio for FREE</a></div>
					</div>
				</div>
			</div><!--//row-->
		</div>
	</section><!--//hero-section-->

	<section class="logos-section theme-bg-primary py-5 text-center">
		<div class="container">
			<h3 class="mb-5">Document Management Made Easy</h3>
			<div class="logos-row row mx-auto">
				<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
					<div class="item-inner">
						<img src="assets/images/logos/logo-1.svg" alt="logo">
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
					<div class="item-inner">
						<img src="assets/images/logos/logo-2.svg" alt="logo">
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
					<div class="item-inner">
						<img src="assets/images/logos/logo-3.svg" alt="logo">
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
					<div class="item-inner">
						<img src="assets/images/logos/logo-4.svg" alt="logo">
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
					<div class="item-inner">
						<img src="assets/images/logos/logo-5.svg" alt="logo">
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-6 col-md-4 col-lg-2 mb-3 mb-lg-0">
					<div class="item-inner">
						<img src="assets/images/logos/logo-6.svg" alt="logo">
					</div><!--//item-inner-->
				</div><!--//item-->

			</div>

		</div><!--//container-->
	</section><!--//logo-section-->

	<section class="benefits-section py-5">

		<div class="container py-lg-5">
			<h3 class="mb-5 text-center font-weight-bold" Customizable Workflows</h3>
			<div class="row">
				<div class="item col-12 col-lg-4">
					<div class="item-inner text-center p-3 p-lg-5">
						<img class="mb-3" src="assets/images/icon-target.svg" alt="" />
						<h5>User-Friendly Interface</h5>
						<div>Enjoy a simple, intuitive interface designed to minimize learning curves and maximize productivity.</div>
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-12 col-lg-4">
					<div class="item-inner text-center p-3 p-lg-5">
						<img class="mb-3" src="assets/images/icon-rocket.svg" alt="" />
						<h5>Secure Data Handling</h5>
						<div>Rest assured knowing that your customer data and documents are securely stored and protected. </div>
					</div><!--//item-inner-->
				</div><!--//item-->
				<div class="item col-12 col-lg-4">
					<div class="item-inner text-center p-3 p-lg-5">
						<img class="mb-3" src="assets/images/icon-cogs.svg" alt="" />
						<h5>Access Anywhere, Anytime</h5>
						<div>Access your CRM and customer documents from anywhere, at any time, with cloud-based accessibility.</div>
					</div><!--//item-inner-->
				</div><!--//item-->
			</div><!--//row-->
			<div class="pt-3 text-center">
				<a class="btn btn-primary theme-btn theme-btn-ghost font-weight-bold" asp-area="Identity" asp-page="/Account/Register">Learn More</a>
			</div>
		</div>

	</section><!--//benefits-section-->

	<section class="features-section py-5">
		<div class="container py-lg-5 position-relative">
			<h3 class="mb-3 text-center font-weight-bold section-heading">Scalable Solution</h3>
			<div class="row pt-5 mb-5">

				<div class="col-12 col-md-6 col-xl-5 offset-xl-1 d-none d-md-block">
					<img class="product-figure product-figure-1 img-fluid" src="assets/images/product-figure-1.png" alt="" />
				</div>

				<div class="col-12 col-md-6 col-xl-5 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 shadow-lg  mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="far fa-chart-bar me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Features</h5>
							<p class="card-text">Grow your business without worries—our CRM scales with you, accommodating your expanding customer base and document needs. </p>
							<a class="more-link" asp-area="Identity" asp-page="/Account/Register">Learn more <span class="more-arrow">&rarr;</span></a>
						</div>
					</div><!--//card-->

					<div class="card rounded border-0 shadow-lg mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fas fa-laptop-code me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Analytics</h5>
							<p class="card-text">Gain valuable insights into your customer interactions and document management processes with built-in analytics and reporting tools.</p>
							<a class="more-link" asp-area="Identity" asp-page="/Account/Register">Learn more <span class="more-arrow">&rarr;</span></a>
						</div>
					</div><!--//card-->
					<div class="card rounded border-0 shadow-lg">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="far fa-calendar-alt me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Excellent Support</h5>
							<p class="card-text">Enjoy dedicated customer support to assist you every step of the way, ensuring a smooth and successful CRM experience.</p>
							<a class="more-link" asp-area="Identity" asp-page="/Account/Register">Learn more <span class="more-arrow">&rarr;</span></a>
						</div>
					</div><!--//card-->
				</div>
			</div>

			<div class="row">
				<div class="col-12 col-md-6 col-xl-5 order-md-2 pr-xl-3 d-none d-md-block">
					<img class="product-figure product-figure-2 img-fluid" src="assets/images/product-figure-2.png" alt="" />
				</div>
				<div class="col-12 col-md-6 col-xl-5 order-md-1 offset-xl-1 pt-xl-5">
					<div class="card rounded border-0 shadow-lg  mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fas fa-microphone-alt me-2 me-lg-3 text-primary fa-lg fa-fw"></i>User-Friendly Interface</h5>
							<p class="card-text">Enjoy a simple, intuitive interface designed to minimize learning curves and maximize productivity.</p>
							<a class="more-link" asp-page="/Account/Register">Learn more <span class="more-arrow">&rarr;</span></a>
						</div>
					</div><!--//card-->

					<div class="card rounded border-0 shadow-lg">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="far fa-comments me-2 me-lg-3 text-primary fa-lg fa-fw"></i>Secure data handling</h5>
							<p class="card-text">Rest assured knowing that your customer data and documents are securely stored and protected. </p>
							<a class="more-link" asp-page="/Account/Register">Learn more <span class="more-arrow">&rarr;</span></a>
						</div>
					</div><!--//card-->
				</div>

			</div>
		</div><!--//container-->

	</section><!--//features-section-->

	<section class="cta-section py-5 theme-bg-secondary text-center">
		<div class="container">
			<h3 class="text-white font-weight-bold mb-3">Ready to turn your customers in your clients?</h3>
			<div class="text-white mx-auto single-col-max-width section-intro">Try Milio Free Today.</div>
			<a class="btn theme-btn theme-btn-ghost theme-btn-on-bg mt-4" asp-page="/Account/Register">It's FREE</a>
		</div>
	</section><!--//cta-section-->


	<!-- Javascript -->
	<script type="text/javascript" src="assets/plugins/popper.min.js"></script>
	<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/plugins/flickity/flickity.pkgd.min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>


</body>
</html>



@* @{
    ViewData["Title"] = "Home Page";
}
<div class="row text-center">
    <button class="btn btn-primary">
        <div class="col-xxl-12">
            <p>CRM platforms allow businesses to gather and store all customer data in one place, including contact information, purchase history, interactions, preferences, and more. This centralized repository enables easy access to valuable insights about customers.</p>
        </div>
    </button>
</div>
<div class="text-center">
    <div class="container px-5 pb-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">CUSTOMER &middot; RELATIONSHIP &middot; MANAGEMENT</div></div>
                    <div class="fs-3 fw-light text-muted">We can help your business to</div>
                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Get your customer info in one place</span></h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" asp-area="Identity" asp-page="/Account/Login">LOG IN</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7">
                <!-- Header profile picture-->
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile bg-gradient-primary-to-secondary">
                        <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                        <!-- Watch a tutorial on how to do this on YouTube (link)-->
                        <img class="profile-img" src="./profile.png" alt="..." />
                        <div class="dots-1">
                            <!-- SVG Dots-->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 191.6 1215.4" style="enable-background: new 0 0 191.6 1215.4" xml:space="preserve">
                            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)">
                            <path d="M227.7,12788.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,12801.6,289.7,12808.6,227.7,12788.6z"></path>
                            <path d="M1507.7,12788.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,12801.6,1569.7,12808.6,1507.7,12788.6z"></path>
                            <path d="M227.7,11508.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,11521.6,289.7,11528.6,227.7,11508.6z"></path>
                            <path d="M1507.7,11508.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,11521.6,1569.7,11528.6,1507.7,11508.6z"></path>
                            <path d="M227.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,10241.6,289.7,10248.6,227.7,10228.6z"></path>
                            <path d="M1507.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,10241.6,1569.7,10248.6,1507.7,10228.6z"></path>
                            <path d="M227.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,8961.6,289.7,8968.6,227.7,8948.6z"></path>
                            <path d="M1507.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,8961.6,1569.7,8968.6,1507.7,8948.6z"></path>
                            <path d="M227.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,7681.6,289.7,7688.6,227.7,7668.6z"></path>
                            <path d="M1507.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,7681.6,1569.7,7688.6,1507.7,7668.6z"></path>
                            <path d="M227.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,6401.6,289.7,6408.6,227.7,6388.6z"></path>
                            <path d="M1507.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,6401.6,1569.7,6408.6,1507.7,6388.6z"></path>
                            <path d="M227.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,5121.6,289.7,5128.6,227.7,5108.6z"></path>
                            <path d="M1507.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,5121.6,1569.7,5128.6,1507.7,5108.6z"></path>
                            <path d="M227.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,3841.6,289.7,3848.6,227.7,3828.6z"></path>
                            <path d="M1507.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,3841.6,1569.7,3848.6,1507.7,3828.6z"></path>
                            <path d="M227.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,2561.6,289.7,2568.6,227.7,2548.6z"></path>
                            <path d="M1507.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,2561.6,1569.7,2568.6,1507.7,2548.6z"></path>
                            <path d="M227.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,1281.6,289.7,1288.6,227.7,1268.6z"></path>
                            <path d="M1507.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,1281.6,1569.7,1288.6,1507.7,1268.6z"></path>
                                            </g>
                                        </svg>
                            <!-- END of SVG dots-->
                        </div>
                        <div class="dots-2">
                            <!-- SVG Dots-->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 191.6 1215.4" style="enable-background: new 0 0 191.6 1215.4" xml:space="preserve">
                            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)">
                            <path d="M227.7,12788.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,12801.6,289.7,12808.6,227.7,12788.6z"></path>
                            <path d="M1507.7,12788.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,12801.6,1569.7,12808.6,1507.7,12788.6z"></path>
                            <path d="M227.7,11508.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,11521.6,289.7,11528.6,227.7,11508.6z"></path>
                            <path d="M1507.7,11508.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,11521.6,1569.7,11528.6,1507.7,11508.6z"></path>
                            <path d="M227.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,10241.6,289.7,10248.6,227.7,10228.6z"></path>
                            <path d="M1507.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,10241.6,1569.7,10248.6,1507.7,10228.6z"></path>
                            <path d="M227.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,8961.6,289.7,8968.6,227.7,8948.6z"></path>
                            <path d="M1507.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,8961.6,1569.7,8968.6,1507.7,8948.6z"></path>
                            <path d="M227.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,7681.6,289.7,7688.6,227.7,7668.6z"></path>
                            <path d="M1507.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,7681.6,1569.7,7688.6,1507.7,7668.6z"></path>
                            <path d="M227.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,6401.6,289.7,6408.6,227.7,6388.6z"></path>
                            <path d="M1507.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,6401.6,1569.7,6408.6,1507.7,6388.6z"></path>
                            <path d="M227.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,5121.6,289.7,5128.6,227.7,5108.6z"></path>
                            <path d="M1507.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,5121.6,1569.7,5128.6,1507.7,5108.6z"></path>
                            <path d="M227.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,3841.6,289.7,3848.6,227.7,3828.6z"></path>
                            <path d="M1507.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,3841.6,1569.7,3848.6,1507.7,3828.6z"></path>
                            <path d="M227.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,2561.6,289.7,2568.6,227.7,2548.6z"></path>
                            <path d="M1507.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,2561.6,1569.7,2568.6,1507.7,2548.6z"></path>
                            <path d="M227.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,1281.6,289.7,1288.6,227.7,1268.6z"></path>
                            <path d="M1507.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,1281.6,1569.7,1288.6,1507.7,1268.6z"></path>
                                            </g>
                                        </svg>
                            <!-- END of SVG dots-->
                        </div>
                        <div class="dots-3">
                            <!-- SVG Dots-->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 191.6 1215.4" style="enable-background: new 0 0 191.6 1215.4" xml:space="preserve">
                            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)">
                            <path d="M227.7,12788.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,12801.6,289.7,12808.6,227.7,12788.6z"></path>
                            <path d="M1507.7,12788.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,12801.6,1569.7,12808.6,1507.7,12788.6z"></path>
                            <path d="M227.7,11508.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,11521.6,289.7,11528.6,227.7,11508.6z"></path>
                            <path d="M1507.7,11508.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,11521.6,1569.7,11528.6,1507.7,11508.6z"></path>
                            <path d="M227.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,10241.6,289.7,10248.6,227.7,10228.6z"></path>
                            <path d="M1507.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,10241.6,1569.7,10248.6,1507.7,10228.6z"></path>
                            <path d="M227.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,8961.6,289.7,8968.6,227.7,8948.6z"></path>
                            <path d="M1507.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,8961.6,1569.7,8968.6,1507.7,8948.6z"></path>
                            <path d="M227.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,7681.6,289.7,7688.6,227.7,7668.6z"></path>
                            <path d="M1507.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,7681.6,1569.7,7688.6,1507.7,7668.6z"></path>
                            <path d="M227.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,6401.6,289.7,6408.6,227.7,6388.6z"></path>
                            <path d="M1507.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,6401.6,1569.7,6408.6,1507.7,6388.6z"></path>
                            <path d="M227.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,5121.6,289.7,5128.6,227.7,5108.6z"></path>
                            <path d="M1507.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,5121.6,1569.7,5128.6,1507.7,5108.6z"></path>
                            <path d="M227.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,3841.6,289.7,3848.6,227.7,3828.6z"></path>
                            <path d="M1507.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,3841.6,1569.7,3848.6,1507.7,3828.6z"></path>
                            <path d="M227.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,2561.6,289.7,2568.6,227.7,2548.6z"></path>
                            <path d="M1507.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,2561.6,1569.7,2568.6,1507.7,2548.6z"></path>
                            <path d="M227.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,1281.6,289.7,1288.6,227.7,1268.6z"></path>
                            <path d="M1507.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,1281.6,1569.7,1288.6,1507.7,1268.6z"></path>
                                            </g>
                                        </svg>
                            <!-- END of SVG dots-->
                        </div>
                        <div class="dots-4">
                            <!-- SVG Dots-->
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 191.6 1215.4" style="enable-background: new 0 0 191.6 1215.4" xml:space="preserve">
                            <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)">
                            <path d="M227.7,12788.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,12801.6,289.7,12808.6,227.7,12788.6z"></path>
                            <path d="M1507.7,12788.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,12801.6,1569.7,12808.6,1507.7,12788.6z"></path>
                            <path d="M227.7,11508.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,11521.6,289.7,11528.6,227.7,11508.6z"></path>
                            <path d="M1507.7,11508.6c-151-50-253-216-222-362c25-119,136-230,254-255c194-41,395,142,375,339c-11,105-90,213-190,262        C1663.7,11521.6,1569.7,11528.6,1507.7,11508.6z"></path>
                            <path d="M227.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,10241.6,289.7,10248.6,227.7,10228.6z"></path>
                            <path d="M1507.7,10228.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,10241.6,1569.7,10248.6,1507.7,10228.6z"></path>
                            <path d="M227.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,8961.6,289.7,8968.6,227.7,8948.6z"></path>
                            <path d="M1507.7,8948.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,8961.6,1569.7,8968.6,1507.7,8948.6z"></path>
                            <path d="M227.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,7681.6,289.7,7688.6,227.7,7668.6z"></path>
                            <path d="M1507.7,7668.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,7681.6,1569.7,7688.6,1507.7,7668.6z"></path>
                            <path d="M227.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,6401.6,289.7,6408.6,227.7,6388.6z"></path>
                            <path d="M1507.7,6388.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,6401.6,1569.7,6408.6,1507.7,6388.6z"></path>
                            <path d="M227.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,5121.6,289.7,5128.6,227.7,5108.6z"></path>
                            <path d="M1507.7,5108.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,5121.6,1569.7,5128.6,1507.7,5108.6z"></path>
                            <path d="M227.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,3841.6,289.7,3848.6,227.7,3828.6z"></path>
                            <path d="M1507.7,3828.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,3841.6,1569.7,3848.6,1507.7,3828.6z"></path>
                            <path d="M227.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,2561.6,289.7,2568.6,227.7,2548.6z"></path>
                            <path d="M1507.7,2548.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,2561.6,1569.7,2568.6,1507.7,2548.6z"></path>
                            <path d="M227.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C383.7,1281.6,289.7,1288.6,227.7,1268.6z"></path>
                            <path d="M1507.7,1268.6c-105-35-200-141-222-248c-43-206,163-412,369-369c155,32,275,190,260,339c-11,105-90,213-190,262        C1663.7,1281.6,1569.7,1288.6,1507.7,1268.6z"></path>
                                            </g>
                                        </svg>
                            <!-- END of SVG dots-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

